/****** Theme Color Primary color ***********************************************************
*********************************************************** Theme Color Primary color ******/
/*  Theme Color */
a:hover,
.banner-text h1 span,
.cart-and-search ul li a:hover,
.tc-navigation li > a:hover,
.white-btn,
h2 strong,
h2 span,
.countdown li span,
.video-titel h3,
.tc-tabs-list li.active a,
.app-detail h4,
.tc-bredcrum ul li.active,
.categories-list ul li a:hover,
.recent-post-date,
.text-widget ul li p a,
.site-link a,
.views-btns li a:hover,
.product-view-option li a:hover,
.clear-all-tags:hover,
.tottal-pricing ul li span:last-child,
.delivery-figure span:last-child,
.owl-prev:hover::before, .owl-next:hover::before,
.pricing-column:hover .service-icon,
.app-list-option li:hover .service-icon,
.service-figure-v2:hover .service-icon,
.service-figure-v2:hover i,
.switcher h2 a::before,
.pricing-column:hover .service-icon i,
.app-list-option li:hover .service-icon i,
.main-header.style-3 .cart-and-search ul li a,
.tc-color,
.icon-services li i,
.service-figure-v3 .service-icon i,
.post-holder.style-3 .loaction-tags li i,
.blog-post-holder.style-3 .meta-post li i,
.team-figure-social li a,
.course-detail h5,
.course-date i,
.testimonal-slider li > h4 i,
.check-list li::before,
.theme-color,
.sections-tabs .tabs-nav li a::before
{ color: #2ECC71;} 

/* Theme Backgroung Color */
.white-btn:hover,
.theme-btn:hover,
.tc-navigation li ul li a:hover,
.enquiry-form-holder,
.pink-btn,
.date-batch-left,
.date-batch-right,
.employee-desination,
.title-batch-left,
.title-batch-right,
.subscribe-now,
.social-icons li a:hover,
.pricing-price,
.team-detail-thumnail,
.inner-header .cart-and-search ul li a:hover,
.tags-list ul li a:hover,
#search .close:hover,
.search-option .bootstrap-select .dropdown-menu li a:hover,
.search-option .bootstrap-select .dropdown-menu li.selected a,
.search-option .btn-default:hover:hover,
.selected-tags-holder ul li a:hover,
.selected-tags-holder ul li.selected a,
.map-overlay,
.slider-post .owl-nav,
.contact-widget .location:hover .location-icon,
.tc-navigation > li > ul li.active a,
.main-header.style-3 .logo-holder::before,
.main-header.style-3 .cart-and-search ul li a:hover,
.main-header.style-3 .cart-and-search ul li a.active,
.blog-post-holder.style-3 .post-img .on-hover a:hover,
.team-figure-social,
.testimonal-slider .owl-dots .owl-dot.active,
.tc-accordian.style-2 .panel-heading,
.footer.style-3 .social-icons li a:hover,
.sections-tabs .tabs-nav li.active a,
.new-batch > a::after
{ background: #01bafd;}

/* Theme Border Color */
.form-control:focus,
.tc-navigation li > ul,
.countdown li span,
.filter-tags-holder ul li a.selected,
.blog-post-detail h3,
.pricing-column:hover,
.inner-header .cart-and-search ul li a:hover,
.aside-widget h3,
.contact-figure h3,
.name-and-rank h3,
.tc-tab-nav li.active a h3,
.profiler-big-img::before,
.profiler-big-img::after,
.pricing-column:hover .service-icon,
.app-list-option li:hover .service-icon,
.tc-navigation > li > a::before,
.tc-navigation > li.active > a::before,
.playButton,
.main-header.style-3 .cart-and-search ul li a:hover,
.main-header.style-3 .cart-and-search ul li a.active,
.team-figure.style-3 .employee-detail .employee-desination,
.team-figure-social li a:hover,
.team-figure.style-3:hover .employee-detail,
.footer.style-3 .location-icon:hover
{ border-color: #01bafd;}

/* THeme Basic Rgba */
.service-figure:hover .service-caption,
.employee-desination,
.hover-overlay,
.product-name:hover,
.product-figure:hover .product-caption,
.gallery-hover,
.flicker-img li a::before,
.map-overlay,
.overlay-pink::before,
.scrollup:hover,
.video-titel .play-btn:hover,
.tc-navigation li > a .badge
{ background: #01bafd;}


/* THeme !Important basic color */
.sub-price
{ color: #f45661!important;} 

/* logo 1 */
#inner-logo{ background: url(../images/inner-logos/logo-1.png) no-repeat; width: 190px; height: 50px;}