@media (max-width: 1400px) {
.about-sec-img-v2{ right: -137px;}
.date-batch-left{ left: 0; right: auto;}
.date-batch-right{ left: auto; right: 0;}
.title-batch-left{ left: 0;}
.slider-post .owl-nav{ left: 0; right: auto;}

.main-header.style-3{ padding: 20px 25px;}
.main-header.style-3 .logo-holder::before{ width: 22%;}
.main-header.style-3 .logo-holder{ width: 19%;}
.main-header.style-3 .navigation-holder{ width: 68%;}
.main-header.style-3 .tc-navigation > li{ margin: 0 0 0 23px;}
.banner.style-3 .banner-text h1{ font-size: 60px;}
.banner.style-3 .banner-text h1 span{ font-size: 20px;}
.banner.style-3 .banner-text h1{ line-height: 56px;}
.banner.style-3 .banner-text p{ font-size: 16px; line-height: 25px;}
} 

@media (max-width: 1300) {
/* Home Page */
.tc-navigation li > a{ padding: 17px 10px;}
.banner-text h1{ font-size: 60px;}
.banner-text h1 span{ font-size: 18px;}
.banner-text p{ font-size: 13px;}
.service-caption{ padding: 20px; }
.service-caption h3{ font-size: 22px; margin: 10px;}
.service-caption p{ font-size: 13px;}
.post-detail h3{ font-size: 24px;}
.countdown li span { font-size: 14px; height: 33px; line-height: 33px; width: 29px;}
.countdown li p{ font-size: 12px;}
.loaction-tags li{ font-size: 11px;}
.post-detail p{ font-size: 13px;}
.post-detail{ padding: 20px;}
.post-detail .read-more{ margin: 0 0 15px;}
.subscribe-submit .form-control{ width: 75%;}
.footer{ background: url("../images/assembly1.jpg") no-repeat;} 
.enquiry-form-input{ width: 18%;}
.form-btn-holder .bars-icon{ font-size: 23px; margin: 0 0 10px;}
.blog-post-detail{ padding: 31px 72px;}
.center-detail{ padding-top: 60px;}

.about-sec-img-v2{ right: -130px;}
.about-sec-img-v2 img{ width: 86%;}
.tc-tabs-list li a{ padding: 20px 10px;}
.best-servics-detail{ width: 48%;}
.best-servics-detail p{ font-size: 13px;}
.app-detail{ width: 67%;}

.commenter-detail{ width: 72%;}
.other-brands-logo{ margin: 0 9px 0 0;}
.twitter-brand-name h6{ font-size: 15px;}
.tags-list ul li a{ padding: 0 17px;}

.team-detail-inner-v2{ width: 480px; padding-left: 30px;}
.subscribes-option .form-control{ width: 54%;}
.bank-cart-list{ overflow: hidden; display: inline-block; padding: 20px 0 0;}
.contact-map{ height: 500px;}
.map-overlay{ width: 400px;}
.post-detail{ padding: 34px 40px!important;}
.post-holder > div > div{ margin: 0!important;}
.comming-product-detail{ padding-top: 40px;}
.pricing-lable li > span{ padding: 10px 5px;}
.select-language .bootstrap-select{ width: 78px;}
.profile-detail-holder{ margin: -200px 0 0;}
.profile-detail-holder .personal-detail{ padding: 40px 0 0;}
.personal-detail .social-icons{ margin: 0 0 40px;}

.enquiry-form-holder.style-3 ul{ width: 88.9%;}
.enquiry-form-holder.style-3 ul li{ width: 31.5%;}
.blog-post-holder.style-3 .blog-post-detail h4{ font-size: 18px;}
.blog-post-holder.style-3 .blog-post-detail p{ font-size: 13px;} 
.coures-figure.style-3 .course-detail h3{ font-size: 16px;}
.coures-figure.style-3 .course-detail p{ font-size: 14px;}

.upcoming-events-slider .post-img{ height: auto!important;} 
} 

@media (max-width: 1024px) {
.enquiry-form-holder{ bottom: -115px;}
.post-holder .post-img{ height: 350px; overflow: hidden;} 
.team-figure.style-3 .team-figure-social{ padding: 10px;}
.social-icons li{ margin: 0 0 0 5px;}

}

@media (max-width: 991px) {
/* Responsive Menu */
.enquiry-form-holder{ bottom: -117px;}
.in-hieght{ bottom: 0;}
.navigation-holder{ float: right; width: 7%;}
.navigation-holder .navbar-toggle{ font-size: 25px;}
.navigation-holder .navbar-toggle i{ color: #fff;} 
.navigation-holder .navbar-toggle{ display:block; color:#666; float:right; margin: 8px 0 0; cursor: pointer; padding: 0;}
.navigation-holder .navbar-collapse.collapse{ display: none !important; z-index: 1000; height: auto !important; 
overflow: visible !important; visibility: visible !important;}
.navigation-holder .navbar-collapse{ position: absolute; padding: 0; top: 100%; width: 200px; right: 0; background: #fff;}
.navigation-holder .navbar-collapse ul li{ width:100%; margin:0; }
.tc-navigation li > a{ color: #000; padding: 10px 20px;}
.tc-navigation li > ul{ right: 100%;} 
.tc-navigation li:hover > ul{ right: 100%; top: 0;}
.tc-navigation li ul li:hover > ul{ right: 100%; left: auto;}
.navigation-holder .navbar-collapse{-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.46);
-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.46);
box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.46);}
.navigation-holder .navbar-collapse ul li a{ text-align: left;}
.navigation-holder .navbar-collapse ul li{ position: relative;}
.navigation-holder .navbar-collapse ul li.active a::before{ width: 10px; margin: 0;} 
.navigation-holder .navbar-collapse.collapse.in{ display:block !important;}
.inner-header .navbar-toggle i{ color: #282828;}
/* Responsive Menu */
.about-sec{ padding-top: 0;}
.about-sec p{ font-size: 13px; margin: 0 0 20px;}
.post-detail{ padding: 32.6px 40px;}
.post-detail h3{ font-size: 26px;}
.loaction-tags li{ font-size: 14px;}
.countdown li span{ width: 40px; height: 40px; font-size: 22px; line-height: 40px; display: block; border: 1px solid;}
.countdown li p{ margin: 0; font-size: 14px; text-transform: uppercase; color: #343434;}
.post-holder > div > div{ margin: 0 0 30px;}
.owl-nav{ left: 100%!important;}
.title-batch-left{ right: 100%; left: auto;}
.title-batch-right{ left: 100%; right: auto;}
.blog-post-detail{ text-align: center;}
.blog-post-detail{ padding-top: 60px;}
.blog-post-detail .meta-post,
.blog-post-detail .theme-btn{ display: inline-block;}
.blog-post-detail .admin-img-left,
.blog-post-detail .admin-img-right{  top: 0; left: 50%; margin-left: -44px;}
.blog-post-detail .admin-img-right{ right: auto;}
.subscribe-submit .form-control{ width: 73%;}
.footer-column{ margin: 15px 0;}

.about-sec-img-v2{ right: -210px;}
.tc-accordian{ margin: 0 0 30px;}

.recent-post-detail{ width: 51%;}
.comment-heading h2{ font-size: 24px;}
.comment-heading p{ font-size: 14px;}
.comment-list li{ text-align: center;}
.comment-list li .admin-img{ float: none; margin: 0 0 30px;}
.commenter-detail,
.admin-img{ display: inline-block; float: none;}
.commenter-detail .xs-btn{ display: inline-block;}
.commenter-detail{ width: 100%;}
.twitter-brand-name h6{ font-size: 13px;}
.error-detail p{ font-size: 30px;}
.post-audio{ padding: 40px;}
.contact-figure{ margin: 0 0 30px;}
.comming-product-detail{ padding-top: 0;}
#product-thumnail{ margin: 0 0 60px;}
.product-rank{ display: block;}
.info-tabs-holder h3{ font-size: 18px;}
.rang-slider{ border: 1px solid #dedede;}
.selected-tags-holder ul li a{ padding: 10px 12px;}
.profile-detail-holder{ margin: -150px 0 0;}
.profile-detail-holder .personal-detail{ padding: 0;}
.personal-detail .social-icons{ margin: 0 0 30px;}
.profiler-address ul li{ margin: 0 0 20px;}

.post-holder .post-img{ height: 300px; overflow: hidden;} 
.date-batch-left{ left: auto; right: 100%;}
.date-batch-right{ left: 100%; right: auto;}
.service-figure-v2 h3{ font-size: 23px;}
.team-slider-thumnail li{ padding: 30px;}
.blog-post-detail .pink-btn{ display: inline-block;}

.service-lits ul li{ font-size: 14px;}

.cart-and-search{ float: right;}
.navigation-holder{ float: right; width: auto!important;}
.navigation-holder .navbar-toggle i{ color: #242424;}
.main-header.style-3 .tc-navigation > li{ margin: 0;}
.main-header.style-3 .tc-navigation > li a{ padding: 10px 20px;}

.enquiry-form-holder.style-3{ padding: 30px;}
.enquiry-form-holder.style-3 ul{ width: 84.9%;}
.enquiry-form-holder.style-3 ul li{ width: 30.8%;}
.banner.style-3 .banner-text p{ font-size: 15px; line-height: 18px; margin: 0 0 10px;}
.img-player{ display: none;}
.tc-counter strong{ font-size: 30px;}
.counters-3 .tc-counter h4{ font-size: 14px;}
.sections-tabs .tabs-nav li a{ font-size: 12px;}
.testimonial-small{ margin: 0 0 30px;}
.enquiry-form-holder.style-3{ position: relative!important; margin: 30px 0 0;}

.blog-post-detail{ text-align: left;}
.team-figure.style-3 .team-figure-social ul li a{ height: 20px; line-height: 20px; width: 20px; font-size: 10px;}
.sections-tabs .tabs-nav li{ width: 24.7%;}

}  
@media (max-width: 990px) {
.enquiry-form.hide-md{ display: none;}
.enquiry-form-holder{ position: absolute!important; padding: 0; bottom: 0!important;}
.enquiry-form.hide-md .bars-icon {font-size: 28px; height: 35px; margin: 0;overflow: hidden;}
.bars-icon.hide-md{ display: none; margin: 0;}
.bars-icon.appear-lg{ display: inline-block; margin: 0!important; padding: 5px 0;}
}

@media (max-width: 800px) {
.owl-nav{ right: 0; left: auto!important;}
.title-batch-left{ left: 0;}
.title-batch-right{ right: 0;}
.about-sec p{ font-size: 12px; margin: 0 0 10px;}
.date-batch-left{ left: 0;}
.date-batch-right{ right: 0; left: auto;}

.about-sec-img-v2{ right: -310px;}
.team-slider-thumnail li h5{ font-size: 15px;}
.team-detail-inner-v2{ width: 90%; padding-left: 30px;}
.app-detail{ width: 67%;}
.slider-left-batch .owl-nav{ left: 0; right: auto;}

.comming-product-holder img{ display: none;}
.comming-product{ position: static;}
.comming-product-detail{ text-align: center;}
.center-detail-inner{ text-align: center;}
.comming-product-detail .countdown{ display: inline-block;}
.profile-detail{ width: 100%;}
}
@media (max-width: 767px) {
.slider-pull-none{ float: none!important;} 
.about-sec-img{ display: none;}
.about-sec{ text-align: center; padding: 0 40px 40px 40px;}
.about-sec .theme-btn{ display: inline-block;}
.post-img{ height: 341px; overflow: hidden;}
.pricing-column{ margin: 0 100px 30px;}
.mobile-img{ display: none;}
.banner.style-3 .banner-text p,
.banner.style-3 .banner-text .pink-btn{ display: none;}
.banner.style-3 .banner-text h1{ font-size: 40px; line-height: 40px;}
.banner.style-3 .banner-text h1 span{ font-size: 14px;}
.enquiry-form-holder.style-3 ul{ width: 82.7%;}
.enquiry-form-holder.style-3 ul li{ margin: 0 10px 0 0!important; width: 31.8%;}
.enquiry-form-holder.style-3 ul li:last-child{ margin: 0!important;}
.service-figure-v3{ text-align: center;}
.about-sec{ padding: 0 30px!important; text-align: center;}
.about-sec .icon-services{ display: inline-block;}

.gallery.style-3 .gallery-figure{ margin: 15px 0;}
.main-header.style-3 .logo-holder{ width: 28%;}
.main-header.style-3 .logo-holder::before{ width: 33%;}

}
@media (max-width: 640px) {
.enquiry-form-holder{ position: static; overflow: hidden;}
.enquiry-form-input{ width: 100%; margin: 0 0 20px!important; text-align: center;}
.enquiry-form-input .white-btn{ display: inline-block;} 
.about-sec-img{ display: none;}
.about-sec{ padding: 0 0 80px; text-align: center;}
.about-sec .theme-btn{ display: inline-block;}
.post-detail{ padding: 42.6px 40px;}

.team-detail-v2{ text-align: center; padding: 30px 0; bottom: 0; height: 270px; left: 0; width: 100%; background: rgba( 255,255,255,0.7);}
.team-detail-v2 p{ display: none;}
.inner-v2-social .social-icons{ margin: 0 0 20px;}
.team-detail-inner-v2{ padding: 0; width: 100%;}
.team-detail-v2 .social-icons{ display: inline-block;}
.team-detail-v2 .theme-btn{ display: inline-block;} 

.pricing-column{ margin: 0 0 30px;}
.commenter-detail{ text-align: left; }
.comment-list li .admin-img{ float: left; margin: 0 30px 0 0;}
.commenter-detail{ float: left; width: 70%;}
.blog-detail{ margin: 0 0 30px;}
.post-detail{ padding: 20px 40px;}
.post-img{ height: 289px;}
.post-detail h3{ margin: 0 0 10px; font-size: 20px;}
.loaction-tags{ margin: 0 0 10px;}
.error-detail p{ font-size: 25px;}
.error-detail img{ width: 50%;}
.error-detail h2{ font-size: 200px;}
.contact-map{ height: 300px;}
.map-overlay{ width: 300px;}
.map-overlay address span{ font-size: 16px;}
.left-girl-img{ display: none;}
.product-tumbnail-imgs{ margin: 0 0 30px; overflow: hidden;}
.product-tumbnail-slider .owl-controls{ display: none;}
.product-tumbnail-imgs li{ float: left; margin: 0 0 0 50px;}
.product-tumbnail-imgs li img{ width: 100%!important;}
.product-tumbnail-imgs li:first-child{ margin: 0;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{ width: 100%;}
.profile-detail-holder .personal-detail{ padding: 20px 0 0;}
.profile-detail-holder .personal-detail h2{ font-size: 30px;}
.about-sec .pink-btn{ display: inline-block; margin: 20px 0 0;}
.post-holder{ margin: 0 0 30px;} 

.countdown li span{ width: 37px;}
.loaction-tags li{ font-size: 13px;}
.team-detail-inner-v2 .pink-btn{ display: inline-block;}
.parallax-window{ z-index: 2;}

.home-3 .main-heading h2 span{ font-size: 14px;}
.home-3 .main-heading h2{ font-size: 21px; line-height: 17px;}

.sections-tabs .tabs-nav li{ width: 24.6%;}
.r-team-padding{ padding: 0 150px;}
.team-figure.style-3{ margin: 15px 0;}
.team-figure.style-3 .team-figure-social{ left: 15%;}

}
@media (max-width: 639px) {
.sections-tabs .tabs-nav li{ width: 49%;}
.sections-tabs .tabs-nav li a i{ display: none;}
.blog-post-holder.list .post-img{ position: relative;}
.blog-post-holder.list .admin-img-left{ left: 30px; margin: 0; top: -24px;}
.blog-post-holder.style-3 .blog-post-detail{ padding: 30px; }
.r-team-padding{ padding: 0 20px;}
.post-holder.style-3 .post-detail{ margin: 0;}
.coures-figure.style-3 .course-img{ position: relative; height: 200px; overflow: hidden;}
.coures-figure.style-3 .course-img > img{ width: 100%;}
.coures-figure.style-3 .course-detail{ padding: 30px;}


}
@media (max-width: 480px) {
	.product-tumbnail-imgs li{ width: 25%;}
	.main-header.style-3 .logo-holder{ margin: 9px 0 0 -10px;}
	.enquiry-form-holder.style-3 ul{ width: 100%;}
	.enquiry-form-holder.style-3 ul li{ width: 100%; margin: 0 0 10px!important;}
	.enquiry-form-holder.style-3 button{ margin: 10px 0 0; width: 100%;}
	.service-figure-v3 p{ padding: 0!important;}
}

@media (max-width: 480px) {
.banner-text h1{ font-size: 35px;}
.banner-text h1 span{ display: none;}
.banner-text p{ display: none;}
.enquiry-form-holder{ position: static; overflow: hidden;}
.enquiry-form-input{ width: 100%; margin: 0 0 20px!important; text-align: center;}
.enquiry-form-input .white-btn{ display: inline-block;} 
h2{ font-size: 30px;}
h2 span{ font-size: 17px;}
.main-heading p{ display: none;}
.post-holder > div > div{ margin: 0;}
.post-holder > div{ margin: 0 0 30px;}
.tc-counter{ width: 50%;}
.gallery-figure img{ width: 100%;}
.blog-post-detail{ padding: 50px;}
.subscribe-submit .form-control{ width: 60%;}
.subscribe-submit button{ width: 30%;}
.filter-tags-holder ul li{ margin: 0 0 0 19px;}
.filter-tags-holder ul li a{ padding: 10px 0;}

.team-detail-inner-v2 p{ display: none;}
.mobile-img{ display: none;}
.tc-navigation li > ul{ right: 0;} 
.tc-navigation li:hover > ul{ right: 0; top: 0;}
.tc-navigation li ul li:hover > ul{ right: 0; left: auto;}
.post-img{ height: auto;}
.error-detail p{ font-size: 20px;}
.page-heading{ width: 100%; text-align: center;}
.tc-bredcrum{ width: 100%; text-align: center;}
.tc-bredcrum ul{ display: inline-block; float: none !important;}
.admin-detail{ margin: 0;} 
.slider-left-batch .owl-nav{ left: 0; right: 0;}
.post-audio{ padding: 40px;}
.subscribes-option .form-control{ width: 50%;}
.cart-subscribe-heading{ margin: 0 0 30px;}
.bank-cart-list{ float: left;}
.payment-figure{ margin: 0 0 30px;}
.final-tottal, 
.pshing-msg{ width: 100%;}
.support-section ul li{ width: 100%; padding: 15px 0!important; margin: 0; text-align: center; border-bottom: 1px solid #eee;}
.support-section ul li:last-child{ padding-bottom: 0; border: 0;}
.support-section ul li span{ float: none;}
.comming-product-detail .countdown li span{ font-size: 30px; height: 55px; line-height: 55px; width: 55px;}
.product-tumbnail-imgs li{ float: left; margin: 0 0 0 30px; width: 28.6%;}
.profile-detail-holder{ margin: -100px 0 0;}
.selected-tags-holder ul li{ margin: 0 0 10px 10px!important;}
.owl-nav{ display: none;}
.blog-post-detail .pink-btn{ display: inline-block;}
.video-titel h3{ font-size: 20px;}

.team-slider-thumnail li h5{ font-size: 12px;}
.team-slider-thumnail li span{ font-size: 12px;}
.event-list-view .post-img{ height: auto!important;}
.overlay-dark,
.overlay-pink,
.overlay-gray{ z-index: 1;}
}
@media (max-width: 479px) {
.r-full-width{ width: 100%!important;}
.banner.style-3 .banner-text h1{ font-size: 20px;}
.about-sec{ padding: 0!important;}
.icon-services li{ margin: 0 0 0 20px;}
.icon-services li i{ font-size: 30px;}
.icon-services li h5{ font-size: 12px;}
.icon-services li::after{ height: 24px; left: -12px;}
.testimonial-small{ padding: 50px 20px;}
.tc-accordian.style-2 .panel-heading h4{ font-size: 12px;}
#search input[type="search"]{ font-size: 20px; padding: 0; left: 48px; height: 150px;}

}

@media (max-width: 320px) {
h2{ font-size: 25px;}	
h2 span{ font-size: 13px;} 
.main-header{ padding: 20px 0;}
.logo-holder{ width: 28%;}
.cart-and-search ul{ padding: 0;}
.navigation-holder{ width: 12%;}
.navigation-holder .navbar-toggle{ margin: -4px 0 0;}
.post-detail{ padding: 20px;}
.filter-tags-holder ul li{ margin: 0 0 0 20px!important;}
.video-titel h3{ display: none;}
.video-titel .play-btn{ font-size: 30px; margin: 0;}

.blog-post-detail{ padding: 60px 0 0;}
.blog-post-detail h3{ font-size: 17px;}
.blog-post-detail{ font-size: 13px;}
.meta-post{ margin: 0 0 10px;} 
.meta-post li{ font-size: 11px; margin: 0 0 0 10px;}
.center-detail-inner{ padding-bottom: 60px;}
.subscribe-submit .form-control{ width: 57%; margin: 0 10px 0 0;}
.subscribe-submit button{ width: 38%;}

.main-heading h2{ margin: 0;}
.app-detail{ width: 58%;}
.about-apps{ padding-top: 0;}
.tc-accordian .panel-heading h4{ font-size: 13px;}
.tc-tabs-list li{ float: none;}
.tc-tabs-list li.active a{ background: #f45661; color: #fff!important;}
.tc-tabs-list li a{border: 1px solid #dedede;}  
.best-servics-content img{ width: 100%; margin: 0 0 30px;}
.best-servics-detail{ width: 100%;}

.inner-banner{ text-align: center;}
.tc-bredcrum{ padding: 5px 0 0; display: inline-block; float: none;}
.page-heading{ display: inline-block; float: none;} 
.page-heading h2{ margin: 0 0 20px;}
.admin-detail{ padding: 30px;}

.comment-list li{ text-align: center;}
.comment-list li .admin-img{ float: none; margin: 0 0 30px;}
.commenter-detail,
.admin-img{ display: inline-block; float: none;}
.commenter-detail .xs-btn{ display: inline-block;}
.commenter-detail{ width: 100%; text-align: center;}
.sub-commnets{ margin-left: 30px!important;}
.form-btns .btn-list li{ margin: 0 0 20px 0!important; width: 100%;}

.error-detail p{ font-size: 20px;}
.error-detail img{ width: 50%;}
.error-detail h2{ font-size: 100px;}
.post-detail{ padding: 34px 20px!important;}
.product-tumbnail-imgs li{ float: left; margin: 0 0 0 30px; width: 25.6%;}
.size-and-color > li{ width: 44%;}
.add-to-cart li{ width: 44%;}
.add-to-cart li span:last-child{ font-size: 13px; padding: 13px 7px;}
.info-tabs-holder h3{ font-size: 13px;}
.tc-counter h4{ font-size: 18px;}
.scrollup{ font-size: 20px; right: 10px; bottom: 10px;}
.views-btns{ margin: 0;}
.instagram ul li{ margin: 0 0 8px 8px;}

.team-figure.style-3 .team-figure-social{ left: 5%;}
}