
#table1 td{
	height: 20px !important;
}
.head{
	color: #E17B04 !important;
	font-size: 16px !important;
	font-family: Georgia !important;
	font-weight: bold !important;
}
.major{
	color: #000000 !important;
	font-weight:bold !important;
	font-size: 20px !important;
	font-family: Georgia, serif !important;
}
.subh {
	color: #000000 !important;
	font-weight: bold !important;
	font-size: 12px !important;
	font-family: Polatino !important;
}
.ff{
	background: #F8F2DC !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color:#000000 !important;
}
.field{
	background: #E1F3E1 !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color:#000000 !important;
}
.input{
	background: #F2FFE6 !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color:#000000 !important;
}

.tb{
	border-bottom: 1px solid #E1F3E1 !important;
} 
body{
  -webkit-print-color-adjust:exact;
}